Package: com.OSHstarREPO.spotify4all
Section: Tweaks
Maintainer: OSH★ <oshstar@californiamail.com>
Architecture: iphoneos-arm
Version: 2.4.0.1822
Depends: firmware (>= 6.0), mobilesubstrate, preferenceloader
Description: Spotify Premium features for free.
Name: Spotify4All
Author: Radu Ursache
Homepage: http://www.oshstararchive.wordpress.com/
Depiction: https://github.com/OSHstar/OSHstar.github.io
