<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>presets</key>
	<array>
		<dict>
			<key>name</key>
			<string>Acoustic</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.401785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.392857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.321428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.0625</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.151785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.133928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.267857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.303571429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.258928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.142857143</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Bass Booster</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.410714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.330357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.267857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.1875</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.151785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.08035714300000001</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>-0.026785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Bass Reducer</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>-0.491071429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>-0.401785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>-0.321428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>-0.25</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Classical</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.366071429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.294642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.214285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.178571429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.178571429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.25</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.294642857</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Dance</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.276785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.526785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.383928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.116071429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.267857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.401785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.330357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.267857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Deep</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.375</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.276785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.133928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.0625</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.223214286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.1875</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.08035714300000001</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>-0.214285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>-0.321428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>-0.428571429</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Electronic</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.3125</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.285714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.0625</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>-0.026785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.205357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>-0.151785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.017857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.0625</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.303571429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.366071429</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Flat</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Hip-Hop</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.383928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.321428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.098214286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.214285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.116071429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>-0.107142857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.098214286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>-0.08035714300000001</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.160714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.214285714</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Jazz</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.303571429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.214285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.089285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.160714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.160714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.160714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.089285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.223214286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.294642857</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Latin</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.339285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.223214286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.151785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>-0.151785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.214285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.348214286</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Loudness</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.473214286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.3125</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.214285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>-0.116071429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>-0.455357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.383928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.044642857</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Lounge</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>-0.276785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>-0.071428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.08035714300000001</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.294642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.169642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>-0.133928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.133928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.044642857</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Piano</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.285714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.125</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.160714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.205357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.08035714300000001</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.258928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.330357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.196428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.258928571</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Pop</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>-0.098214286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.133928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.294642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.294642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.133928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>-0.107142857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>R&amp;B</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.1875</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.544642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.4375</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.071428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.214285714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.151785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.1875</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.205357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.276785714</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Rock</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.383928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.294642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.196428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.08035714300000001</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>-0.071428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>-0.116071429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.160714286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.258928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.330357143</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Small Speakers</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>0.419642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>0.3125</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>0.258928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.169642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.0625</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.133928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.241071429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.330357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.383928571</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Spoken Word</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>-0.330357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>-0.071428571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>-0.026785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.026785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.258928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.348214286</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.357142857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.3125</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.169642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>-0.026785714</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Treble Booster</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.0625</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.169642857</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.258928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>0.3125</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>0.419642857</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Treble Reducer</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>-0.125</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>-0.241071429</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>-0.3125</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<real>-0.375</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>-0.491071429</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Vocal Booster</string>
			<key>values</key>
			<array>
				<dict>
					<key>frequency</key>
					<integer>32</integer>
					<key>value</key>
					<real>-0.151785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>64</integer>
					<key>value</key>
					<real>-0.258928571</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>125</integer>
					<key>value</key>
					<real>-0.276785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>250</integer>
					<key>value</key>
					<real>0.08035714300000001</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>500</integer>
					<key>value</key>
					<real>0.276785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>1000</integer>
					<key>value</key>
					<real>0.276785714</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>2000</integer>
					<key>value</key>
					<real>0.205357143</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>4000</integer>
					<key>value</key>
					<real>0.08035714300000001</real>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>8000</integer>
					<key>value</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>frequency</key>
					<integer>16000</integer>
					<key>value</key>
					<real>-0.142857143</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
